<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/head :: header" />
<body>
<div id="wrapper">
	<!-- 导航菜单开始 -->
	<section th:replace="fragments/nav :: nav"></section>
    <!-- 导航菜单结束 -->
	<!-- 右侧内容区开始 -->
	<div id="page-wrapper" class="gray-bg">
		<div class="row border-bottom">
        	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
	        	<div class="navbar-header">
	            	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "href="javascript:void(0);"><i class="fa fa-bars"></i></a>
	        	</div>
	            <ul class="nav navbar-top-links navbar-right">
	                <li>
	                    <a th:href="@{/logout}"><i class="fa fa-sign-out"></i><span th:text="#{logout}">退出</span></a>
	                </li>
	            </ul>
	        </nav>
        </div>
        <!-- 内容区域开始 -->
        <section layout:fragment="content"></section>
		<!-- 内容区域结束 -->
        <!-- 页脚开始 -->
        <footer th:replace="fragments/footer :: footer"></footer>
        <!-- 页脚结束 -->
	</div>
	<!-- 右侧内容区结束 -->
</div>
<!-- 菜单树弹出框 -->
<div th:replace="password :: dialog_password"></div>
</body>
</html>