<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/role.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initEditPageExt(error, message);
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<div class="container-fluid" th:object="${bean}">
<input type="hidden" th:value="*{id}" name="id"></input>
<input type="hidden" th:value="${session.currentUser.username}" name="updateUser"></input>
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li><a href="/system/role/list"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<span th:text="#{role.manage}">角色管理</span></a></li>
			  	<li class="active" th:text="#{role.add}">编辑角色</li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div style="margin-top: 20px"></div>
		    	<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{code}">编码</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="*{code}" type="text" id="code" name="code" readonly="readonly"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{name}">名称</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="*{name}" type="text" name="name" data-options="required:true,validType:['name','maxLength[32]']"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{status}">状态</label>
					</div>
					<div class="col-md-4 text-left">
		    			<select class="easyui-combobox select-default" data-options="editable:false" name="status">
							<option th:each="status : ${statusList}" th:selected="${status.value eq #object.status + ''}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{remark}">备注</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="*{remark}" type="text" name="remark" data-options="multiline:true"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div style="text-align:center;padding:5px">
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
					&nbsp;&nbsp;
			    	<button type="button" id="button_update" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
			    <div style="margin-bottom: 20px"></div>
		    </div>
    	</div>
    </div>
</div>
</div>
</form>
</body>
</html>