<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header :: header(#{system.name},~{})" />
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/content.js?v=1.0.0}"></script>
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/system/role.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initEditPage(error, message);
	});
	/*]]>*/
</script>
</head>
<body class="gray-bg" th:object="${bean}">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <ol class="breadcrumb navigation">
  				<li><a href="/system/role/list" th:text="#{role.list}">角色列表</a></li>
  				<li class="active" th:text="#{role.edit}">角色编辑</li>
			</ol>
        </div>
        <div class="ibox-content">
            <div id="container" class="row">
            <form id="form_detail" class="form-horizontal m-t" method="post">
            <input type="hidden" name="id" th:value="*{id}" />
            	<div class="form-group">
					<label class="col-xs-2 control-label" th:text="#{code}">编码</label>
   					<div class="col-xs-3">
   						<input type="code" id="code" name="code" class="form-control" th:value="*{code}" readonly="readonly" />
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{name}">名称</label>
   					<div class="col-xs-3">
       					<input type="name" id="name" name="name" class="form-control" th:value="*{name}" maxlength="32" required />
   					</div>
				</div>
				<div class="form-group">
   					<label class="col-xs-2 control-label" th:text="#{status}">状态</label>
   					<div class="col-xs-3">
       					<select class="form-control m-b" id="status" name="status">
							<option th:each="status : ${statusList}" th:selected="${status.value eq #object.status + ''}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{remark}">备注</label>
   					<div class="col-xs-3">
       					<textarea id="remark" name="remark" th:text="*{remark}" class="form-control" rows="3"></textarea>
   					</div>
				</div>
				<div class="form-group text-center">
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
					&nbsp;&nbsp;
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
			</form>
            </div>
        </div>
    </div>
</div>
</body>
</html>