<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<title th:text="#{system.name}">认证与授权管理系统</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/role.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initListPage(error, message);
	});
/*]]>*/
</script>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
		<!-- 导航 -->
  		<div class="panel-heading border-none padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<span th:text="#{role.manage}">角色管理</span></li>
			</ol>
	  	</div>
	  	<div class="panel-body border-none">
	    	<div class="container-fluid">
	    	<div class="row">
		    	<div id="tips" class="alert" style="display:none;margin-bottom:0;border-bottom:0"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
				<table id="datagrid" style="width:100%;height:auto">
					<thead>
						<tr>
							<th data-options="field:'_operate',width:20,align:'center',formatter:operateBtnHtml">操作</th>
							<th th:text="#{name}" data-options="field:'name',width:10">名称</th>
							<th th:text="#{status}" data-options="field:'statusText',align:'center',width:10">状态</th>
							<th th:text="#{create.date}" data-options="field:'createDate',width:20">创建日期</th>
							<th th:text="#{create.user}" data-options="field:'createUser',width:20">创建人</th>
							<th th:text="#{update.date}" data-options="field:'updateDate',width:20">更新日期</th>
							<th th:text="#{update.user}" data-options="field:'updateUser',width:20">更新人</th>
						</tr>
					</thead>
				</table>
				<!-- 查询条件 -->
				<div id="search_tools" style="padding:0 25px;">
					<div class="conditions">
						<form action="" method="post" id="form_search">
							<label th:text="#{code}">编码</label>
							<input name="code" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
							<label th:text="#{name}">名称</label>
							<input name="name" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
							<label th:text="#{status}">状态</label>
							<select class="easyui-combobox" data-options="editable:false" name="status" style="height:25px;width:200px">
								<option value="" selected>全部</option>
								<option th:each="status : ${statusList}" th:text="${status.label}" th:value="${status.value}"></option>
							</select>
							<button type="button" id="button_search" class="btn btn-primary">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;<span th:text="#{search}">查询</span>
							</button>
							<button type="button" id="button_reset" class="btn btn-default">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;<span th:text="#{reset}">重置</span>
							</button>
						</form>
					</div>
					<div class="opt-buttons">
						<button type="button" id="button_add" class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<span th:text="#{add}">新增</span>
						</button>
					</div>
				</div>
			</div>
	    	</div>
	    </div>
	</div>
<form action="" method="get" id="form_hidden">
<input type="hidden" id="id" name="id" />
</form>
</div>
</div>
</body> 
</html>