<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<title id="title">用户列表</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/base/user.css}" />
<script type="text/javascript" th:src="@{/js/base/user.js}"></script>
<script type="text/javascript">
	$(function() {
		initPage();
	});
</script>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
		<!-- 导航 -->
  		<div class="panel-heading border-none padding-none" style="height:50px">
		<div class="row">
			<ol class="breadcrumb">
			  	<li class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 用户管理</li>
			</ol>
	  	</div>
	  	</div>
	  	<div class="panel-body border-none">
	    	<div class="container-fluid">
	    	<div class="row">
		    	<div id="tips" class="alert" style="display:none;margin-bottom:0;border-bottom:0"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
				<table id="datagrid" style="height:600px;">
					<thead>
						<tr>
							<th field="ck" checkbox="true"></th>
							<th id="column_username" data-options="field:'username',width:20">账号</th>
							<th id="column_name" data-options="field:'name',width:10">用户名</th>
							<th id="column_mobile" data-options="field:'mobile',width:20">手机</th>
							<th id="column_status" data-options="field:'status',align:'center',width:10">状态</th>
							<th id="column_createDate" data-options="field:'createDate',width:20">创建日期</th>
							<th id="column_createUser" data-options="field:'createUser',width:20">创建人</th>
							<th id="column_updateDate" data-options="field:'updateDate',width:20">更新日期</th>
							<th id="column_updateUser" data-options="field:'updateUser',width:20">更新人</th>
						</tr>
					</thead>
				</table>
				<!-- 查询条件 -->
				<div id="search_tools" style="padding:0 25px;">
					<div class="conditions">
					<form action="" method="post" id="search_form">
						<label id="label_username">账号</label>
						<input name="username" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
						<label id="label_name">用户名</label>
						<input name="name" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
						<label id="label_mobile">手机号</label>
						<input name="mobile" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
						<label id="label_status" >状态</label>
						<select class="easyui-combobox" data-options="editable:false" name="status" style="height:25px;width:200px">
							<option value="" selected>全部</option>
							<option value="1">正常</option>
							<option value="2">锁定</option>
							<option value="3">已删除</option>
						</select>
					    <a id="btn_search" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true">查询</a>
					    <a id="btn_reset" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
					</form>
					</div>
					<div class="opt-buttons">
				        <a href="javascript:void(0)" onclick="toAdd()" class="easyui-linkbutton" data-options="selected:true">新增</a>
				    </div>
				</div>
			</div>
	    	</div>
	    </div>
	</div>
<form action="" method="post" id="hiddenForm">
<input type="hidden" name="id" />
</form>
</div>
</div>
</body> 
</html>