<!-- body脚本 -->
<!-- Mainly scripts -->
<script type="text/javascript" th:src="@{/js/jquery.min.js?v=1.12.4}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js?v=3.3.7}"></script>
<script type="text/javascript" th:src="@{/js/jquery.i18n.properties.min.js?v=1.0.9}"></script>
<script type="text/javascript" th:src="@{/js/plugins/toastr/toastr.min.js?v=2.1.1}"></script>
<script type="text/javascript" th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/layer/laydate/laydate.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script type="text/javascript" th:src="@{/js/json2.js}"></script>
<script type="text/javascript" th:src="@{/js/i18n.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/blockui/jquery.blockUI.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.extend.js}"></script>
<!-- Peity -->
<script type="text/javascript" th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>
<!-- Custom and plugin javascript -->
<script type="text/javascript" th:src="@{/js/inspinia.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/pace/pace.min.js}"></script>
<!-- Bootstrap table -->
<script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.bootstrap.table.js}"></script>
<!-- jQuery Validation plugin javascript-->
<script type="text/javascript" th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/validate/locale/messages_zh.min.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/validate/jquery.validator.extend.js}"></script>
<script type="text/javascript" th:src="@{/js/system/index.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>