<nav th:fragment="nav" class="navbar-default navbar-static-side" role="navigation" th:each="menu : ${session.menus}">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<!-- 当前用户信息开始 -->
			<li class="nav-header">
				<div class="dropdown profile-element"> 
					<span><img alt="image" class="img-circle" height="48" width="48" th:src="${session.currentUser.gender eq 0} ? '/images/user_male.png' : '/images/user_female.png'" /></span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">
					<span class="clear">
						<span class="block m-t-xs"><strong class="font-bold" th:text="${session.currentUser.username}"></strong></span>
						<span id="surname" class="text-muted text-xs block" th:text="${session.currentUser.name}">用户名</span>
					</span> 
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a th:href="@{/system/user/mine}" th:text="#{info.mine}">我的信息</a></li>
						<li><a id="link_changePassword" href="javascript:void(0)" th:text="#{password.change}">修改密码</a></li>
					</ul>
				</div>
				<div class="logo-element">A+</div>
			</li>
			<!-- 当前用户信息结束 -->
			<!-- 菜单导航开始 -->
			<li th:class="${menu1.active} ? 'active' : ''" th:each="menu1 : ${menu.children}">
				<a href="javascript:void(0);">
					<i th:class="${'fa ' + menu1.iconClass}"></i>
					<span class="nav-label" th:text="${menu1.name}">一级菜单</span>
					<span class="fa arrow"></span>
				</a>
				<ul th:if="${not #lists.isEmpty(menu1.children)}" class="nav nav-second-level collapse">
					<li th:class="${menu2.active} ? 'active' : ''" th:each="menu2 : ${menu1.children}">
						<a href="javascript:void(0)" th:onclick="'_linkMenu(\'' + ${menu2.url} + '\',' + ${menu2.id} + ')'">
							<span th:text="${menu2.name}">二级菜单</span>
							<span th:if="${not #lists.isEmpty(menu2.children)}" class="fa arrow"></span>
						</a>
						<ul th:if="${not #lists.isEmpty(menu2.children)}" class="nav nav-third-level">
							<li th:class="${menu3.active} ? 'active' : ''" th:each="menu3 : ${menu2.children}">
								<a href="javascript:void(0)" th:onclick="'_linkMenu(\'' + ${menu3.url} + '\',' + ${menu3.id} + ')'" th:text="${menu3.name}">三级菜单</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<!-- 菜单导航结束 -->
		</ul>
	</div>
</nav>