<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default">
<head>
<title th:text="#{system.name}">Authority</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/ztree/metroStyle/metroStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/iconBox.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.dialog.js}"></script>
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.icon.box.js}"></script>
<script type="text/javascript" th:src="@{/js/system/menu.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initAddPageExt(error, message);
	});
	/*]]>*/
</script>
</head>
<body th:object="${bean}">
<section layout:fragment="content">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <ol class="breadcrumb navigation">
  				<li><a href="/system/menu/list" th:text="#{menu.list}">菜单列表</a></li>
  				<li class="active" th:text="#{menu.add}">菜单添加</li>
			</ol>
        </div>
        <div class="ibox-content">
            <div id="container" class="row">
            <form id="form_detail" class="form-horizontal m-t" method="post">
            <input type="hidden" id="parentMenuId" name="parentId" th:value="${parentMenu.id}" />
            	<div class="form-group">
					<label class="col-xs-2 control-label" th:text="#{name}">名称</label>
   					<div class="col-xs-3">
       					<input type="text" id="name" name="name" class="form-control" th:value="*{name}" maxLength="32" required />
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{resource.choose}">选择资源</label>
   					<div class="col-xs-3">
       					<input type="text" id="resourceName" name="resourceName" class="form-control icon-tree" readonly="readonly" />
   					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" th:text="#{menu.parent}">上级菜单</label>
   					<div class="col-xs-3">
       					<input type="text" id="parentMenuName" name="parentMenuName" class="form-control icon-tree" th:value="${parentMenu.name}" readonly="readonly" required />
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{sort}">排序</label>
   					<div class="col-xs-3">
       					<input type="digits" id="sort" name="sort" class="form-control" th:value="*{sort}" required />
   					</div>
				</div>
				<div class="form-group">
   					<label class="col-xs-2 control-label" th:text="#{status}">状态</label>
   					<div class="col-xs-3">
       					<select class="form-control m-b" id="status" name="status">
							<option th:each="status : ${statusList}" th:selected="${status.value eq #object.status + ''}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
   					</div>
   					<label class="col-xs-2 control-label">图标</label>
   					<div class="col-xs-3 infont">
       					<span style="vertical-align:middle;font-size:20pt"><i id="icon" class="fa fa-laptop"></i></span>
       					&nbsp;&nbsp;<button id="btn_icon" type="button" class="btn btn-primary btn-xs">选择</button>
   					</div>
				</div>
				<div class="form-group">
   					<label class="col-xs-2 control-label" th:text="#{remark}">备注</label>
   					<div class="col-xs-3">
       					<textarea id="remark" name="remark" th:value="*{remark}" class="form-control" rows="3"></textarea>
   					</div>
				</div>
				<div class="form-group text-center">
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
					&nbsp;&nbsp;
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
			</form>
            </div>
        </div>
    </div>
</div>
<!-- 菜单树弹出框 -->
<div th:replace="system/menu/menuTree :: dialog_tree"></div>
<!-- 资源树弹出框 -->
<div th:replace="system/menu/resourceTree :: dialog_tree"></div>
<!-- 图标选择框 -->
<div th:replace="fragments/iconBox :: dialog_icon_box"></div>
</section>
</body>
</html>