<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/base :: list_header(#{system.name},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/ztree/metroStyle/metroStyle.css}" />
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/content.js?v=1.0.0}"></script>
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.js}"></script>
<script type="text/javascript" th:src="@{/js/system/menu.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initListPageExt(error, message);
	});
	/*]]>*/
</script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="row">
		<div class="col-xs-2">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
		            <h5 th:text="#{menu.tree}">菜单树</h5>
		        </div>
		        <div class="ibox-content">
					<div id="ztree_menu" class="ztree"></div>
		        </div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
		            <h5 th:text="#{menu.list}">菜单列表</h5>
		        </div>
		        <div class="ibox-content">
		            <div id="container" class="row">
		           		<form id="form_search" role="form" class="form-inline">
		           		<input type="hidden" id="selectedParentMenuId" name="parentId" th:value="${parentId}" />
		           		<input type="hidden" id="id" name="id" />
		           			<div class="col-xs-10 padding-none">
		                    	<div class="input-group">
			                        <input type="text" th:placeholder="#{placeholder.name}" name="name" class="form-control">
		                		</div>
		                		<div  class="input-group">
									<select class="form-control m-b" name="status">
		                				<option value="" selected th:text="#{status.all}">全部状态</option>
										<option th:each="status : ${statusList}" th:text="${status.label}" th:value="${status.value}"></option>
									</select>
		                		</div>
		           			</div>
		           			<div class="col-xs-2 text-right padding-none">
			                    <button type="button" id="btn_search" class="btn btn-outline btn-primary" th:text="#{search}">查询</button>
			                    <button type="button" id="btn_reset" class="btn btn-outline btn-default" th:text="#{reset}">重置</button>
		           			</div>
						</form>
						<div id="toolbar" class="btn-group hidden-xs" role="group">
							<button id="button_add" type="button" class="btn btn-outline btn-primary">
						 		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<span th:text="#{add}">添加</span>
						 	</button>
						</div>
		                <table id="table_list" data-height="410" data-row-style="rowStyle">
		                    <thead>
		                        <tr>
		                        	<th th:text="#{operation}" data-field="operation" data-align="center" data-formatter="operationFormatter">操作</th>
									<th th:text="#{name}" data-field="name" data-align="center">名称</th>
									<th th:text="#{status}" data-field="statusText" data-align="center">状态</th>
									<th th:text="#{create.date}" data-field="createDate" data-align="center">创建日期</th>
									<th th:text="#{create.user}" data-field="createUser" data-align="center">创建人</th>
									<th th:text="#{update.date}" data-field="updateDate" data-align="center">更新日期</th>
									<th th:text="#{update.user}" data-field="updateUser" data-align="center">更新人</th>
		                        </tr>
		                    </thead>
						</table>
		            </div>
		        </div>
			</div>
		</div>
	</div>
</div>
</body> 
</html>