body {
	padding: 0px;
	margin: 0px;
}

.border-none {
	border: 0px;
}

.padding-none {
	padding: 0px;
}

.navigation {
	font-size: 11pt;
	font-weight: bold;
}

.ibox-title a {
	color: #1AB394!important;
	text-decoration: none;
}

.ibox-title a:hover {
	color: #686B6D!important;
	text-decoration: none;
}

.page-height-default {
	max-height: 450px;
	overflow: auto;
}