<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default">
<head th:include="fragments/head :: header" />
<body>
<section layout:fragment="content">
<div class="container" style="padding-top:100px">
	<header class="jumbotron hero-spacer">
		<h1>欢迎使用本系统</h1>
		<p>
			一个人能走多远，要看他有谁同行；一个人有多优秀，要看他有谁指点；一个人有多成功，要看他有谁相伴。
		</p>
		<p>
			忙碌是一种幸福，让我们没时间体会痛苦；奔波是一种快乐，让我们真实地感受生活；疲惫是一种享受，让我们无暇空虚。
		</p>
		<p>
			有压力，但不会被压垮；迷茫，但永不绝望。
		</p>
		<p>
			<a class="btn btn-primary btn-large">努力奋斗！</a>
		</p>
	</header>
</div>
</section>
</body>
</html>