<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="#{system.name}">认证与授权管理系统</title>
<link type="text/css" rel="stylesheet" th:href="@{/js/uimaker/css/base.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/js/uimaker/css/platform.css}" />
<script type="text/javascript" th:src="@{/js/jquery-1.12.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/uimaker/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/uimaker/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.i18n.properties-1.0.9.min.js}"></script>
<script type="text/javascript" th:src="@{/js/i18n.js}"></script>
</head>
<body>
	<div class="container">
		<div id="pf-hd">
			<div class="pf-logo">
				<img th:src="@{/js/uimaker/images/main/main_logo.png}" alt="logo">
			</div>
			<div class="pf-user">
				<div class="pf-user-photo">
					<img src="/js/uimaker/images/main/user.png" th:src="@{/js/uimaker/images/main/user.png}">
				</div>
				<h4 class="pf-user-name ellipsis" th:text="${session.currentUser.name}">用户名</h4>
				<i class="iconfont xiala">&#xe607;</i>
				<div class="pf-user-panel">
					<ul class="pf-user-opt">
						<li id="user_info">
							<a href="javascript:void(0)"><i class="iconfont">&#xe60d;</i><span class="pf-opt-name" th:text="#{info.mine}">我的信息</span></a>
						</li>
						<li class="pf-modify-pwd">
							<a href="javascript:void(0)"><i class="iconfont">&#xe634;</i><span class="pf-opt-name" th:text="#{password.change}">修改密码</span></a>
						</li>
						<li class="pf-logout">
							<a href="javascript:void(0)"><i class="iconfont">&#xe60e;</i><span class="pf-opt-name" th:text="#{logout}">退出</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="pf-bd">
			<div id="pf-sider" th:each="menu : ${menus}" style="min-height: 400px">
				<h2 class="pf-model-name">
					<span class="iconfont">&#xe64a;</span> <span class="pf-name" th:text="${menu.text}">系统</span>
					<span class="toggle-icon"></span>
				</h2>
				<ul class="sider-nav">
					<li th:each="menu1 : ${menu.children}">
						<a href="javascript:void(0)"><span class="sider-nav-title" th:text="${menu1.text}">一级菜单</span> <i class="iconfont">&#xe642;</i></a>
						<ul class="sider-nav-s">
							<li th:each="menu2 : ${menu1.children}" th:attr="url=${menu2.attributes.url}"><a href="javascript:void(0)" th:text="${menu2.text}">二级菜单</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="pf-page">
				<iframe class="page-iframe" id="iframe_content" src="welcome.html" frameborder="no" border="no" height="100%" width="100%" scrolling="auto"></iframe>
			</div>
		</div>
		<div id="pf-ft">
			<div class="system-name">
				<i class="iconfont">&#xe6fe;</i> <span th:text="#{system.name}">认证与授权管理系统</span>
			</div>
			<div class="copyright-name">
				<span>CopyRight&nbsp;2017&nbsp;&nbsp;IceWee&nbsp;版权所有</span> <i class="iconfont">&#xe6ff;</i>
			</div>
		</div>
	</div>
<!-- 修改密码 -->
<div th:replace="/password :: change_password"></div>
</body>
</html>