<!DOCTYPE html>
<html>
<head>
<title id="title">新增用户</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/user.css}" />
<script type="text/javascript" th:src="@{/js/system/user.js}"></script>
<script type="text/javascript">
	$(function() {
		initAddPage();
	});
</script>
</head>
<body>
<form id="form_default" th:action="@{/users}" method="post">
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li><a href="/system/user/list"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 用户管理</a></li>
			  	<li class="active">新增用户</li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div style="margin-top: 20px"></div>
		    	<div class="row">
					<div class="col-md-2 text-right">
						<label>登录账号</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" type="text" name="username" data-options="required:true,validType:['username','minLength[6]','maxLength[32]']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label>用户名称</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" type="text" name="name" data-options="required:true,validType:['name','maxLength[32]']"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label>密码</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" type="password" id="password" name="password" data-options="required:true,validType:['minLength[6]','maxLength[32]']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label>重复密码</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" type="password" name="rpassword" data-options="required:true,validType:['equals[\'#password\']']"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label>手机号码</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" type="text" name="mobile" data-options="required:false,validType:['mobile']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label>用户状态</label>
					</div>
					<div class="col-md-4 text-left">
		    			<select class="easyui-combobox select-default" data-options="editable:false" name="status">
	    					<option value="1">正常</option>
	    					<option value="2">锁定</option>
	    					<option value="3">删除</option>
	    				</select>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label>创建人</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${session.currentUser.username}" type="text" id="updateUser" name="updateUser" data-options="readonly:true"></input>
					</div>
					<div class="col-md-2 text-right">
						<label>创建日期</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" type="text" id="updateDate" name="updateDate" data-options="readonly:true"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div style="text-align:center;padding:5px">
			    	<a id="button_save" href="javascript:void(0)" class="easyui-linkbutton" data-options="selected:true">保存</a>
			    	<a id="button_back" href="javascript:void(0)" class="easyui-linkbutton">取消</a>
			    </div>
			    <div style="margin-bottom: 20px"></div>
		    </div>
    	</div>
    </div>
</div>
</div>
</form>
</body>
</html>