<!-- 用户授权弹出框 -->
<div id="dialog_user_auth" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
        		<h4 class="modal-title">用户授权</h4>
      		</div>
      		<div class="modal-body">
		    	<div class="container-fluid" style="width: 100%">
		    		<div class="row">
			    		<div id="tips_user_auth" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
		    		</div>
		    		<div class="row">
						<div class="col-md-5">
							<div id="unselectRoles" class="easyui-datalist" title="未选角色" style="width:330px;height:250px">
	    					</div>
						</div>
						<div class="col-md-2" style="height:250px;padding-top:100px;padding-left:35px">
			    			<button id="button_add_roles" class="btn btn-primary">
			                    <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span>添加</span>
			                </button>
			                <br/><br/>
			                <button id="button_remove_roles" class="btn btn-primary">
			                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>移除</span>
			                </button>
						</div>
						<div class="col-md-5">
							<div id="selectedRoles" class="easyui-datalist" title="已选角色" style="width:330px;height:250px">
							</div>
						</div>
				    </div>
				</div>
	    	</div>
	    	<div class="modal-footer">
		    	<a href="javascript:void(0)" onclick="closeUserAuthDialog()" class="easyui-linkbutton">取消</a>
        		<a href="javascript:void(0)" id="button_save_user_auth" class="easyui-linkbutton" data-options="selected:true">保存</a>
      		</div>
		</div>
	</div>
</div>