<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/user.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initEditPage(error, message);
		initEditPageExt();
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<input type="hidden" th:value="${session.currentUser.username}" name="updateUser"></input>
<input type="hidden" th:value="${bean.id}" name="id"></input>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li><a href="/system/user/list"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span th:text="#{user.manage}">用户管理</span></a></li>
			  	<li class="active" th:text="#{user.edit}">编辑用户</li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div style="margin-top: 20px"></div>
		    	<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{username}">账号</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.username}" type="text" id="username" name="username" readonly="readonly"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{surname}">姓名</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.name}" type="text" name="name" data-options="required:true,validType:['name','maxLength[32]']"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{mobile}">手机</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.mobile}" type="text" name="mobile" data-options="required:false,validType:['mobile']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{status}">状态</label>
					</div>
					<div class="col-md-4 text-left">
		    			<select class="easyui-combobox select-default" data-options="editable:false" name="status">
	    					<option th:each="status : ${statusList}" th:selected="${status.value eq bean.status + ''}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{create.user}">创建人</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.updateUser}" type="text" id="createUser" name="createUser" readonly="readonly"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{create.date}">创建日期</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${#dates.format(bean.createDate,'yyyy-MM-dd')}" type="text" id="createDate" name="createDate" readonly="readonly"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div style="text-align:center;padding:5px">
			    	<button type="button" id="button_update" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
			    </div>
			    <div style="margin-bottom: 20px"></div>
		    </div>
    	</div>
    </div>
</div>
</div>
</form>
</body>
</html>