<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/base :: list_header(#{system.name},~{})" />
<!-- 自定义js -->
<script th:src="@{/js/content.js?v=1.0.0}"></script>
<script th:src="@{/js/jquery.extend.js}"></script>
<script th:src="@{/js/system/user/list.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		initListPage();
	});
	/*]]>*/
</script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <h5>用户列表</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
           		<form id="form_search" role="form" class="form-inline">
           			<div class="col-xs-10 padding-none">
                		<div class="input-group">
							<input type="text" th:placeholder="#{placeholder.username}" name="username" class="form-control">
                		</div>
                    	<div class="input-group">
	                        <input type="text" th:placeholder="#{placeholder.surname}" name="name" class="form-control">
                		</div>
                    	<div class="input-group">
	                        <input type="text" th:placeholder="#{placeholder.mobile}" name="mobile" class="form-control">
                		</div>
                		<div class="form-group">
                			<span th:text="#{status}" style="padding:10px;">状态</span>
                		</div>
                		<div  class="input-group">
							<select class="form-control m-b" name="status">
                				<option value="" selected>全部</option>
								<option th:each="status : ${statusList}" th:text="${status.label}" th:value="${status.value}"></option>
							</select>
                		</div>
           			</div>
           			<div class="col-xs-2 text-right padding-none">
	                    <button type="button" id="btn_search" class="btn btn-outline btn-primary">查询</button>
	                    <button type="button" id="btn_reset" class="btn btn-outline btn-default">重置</button>
           			</div>
				</form>
				<div id="toolbar" class="btn-group hidden-xs" role="group">
					<button id="btn_add" type="button" class="btn btn-outline btn-primary">
				 		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<span>新增</span>
				 	</button>
				</div>
                <table id="table_list" data-height="400">
                    <thead>
                        <tr>
                        	<th th:text="#{operation}" data-field="operation" data-align="center" data-formatter="operationFormatter">操作</th>
                            <th th:text="#{username}" data-field="username" data-align="center">账号</th>
							<th th:text="#{surname}" data-field="name" data-align="center">姓名</th>
							<th th:text="#{mobile}" data-field="mobile" data-align="center">手机</th>
							<th th:text="#{status}" data-field="statusText" data-align="center">状态</th>
							<th th:text="#{create.date}" data-field="createDate" data-align="center">创建日期</th>
							<th th:text="#{create.user}" data-field="createUser" data-align="center">创建人</th>
							<th th:text="#{update.date}" data-field="updateDate" data-align="center">更新日期</th>
							<th th:text="#{update.user}" data-field="updateUser" data-align="center">更新人</th>
                        </tr>
                    </thead>
				</table>
            </div>
        </div>
	</div>
</div>
</body> 
</html>