<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/user.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initMinePage(error, message);
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<div class="container-fluid" th:object="${bean}">
<input type="hidden" name="id" th:value="*{id}" id="userId"></input>
	<div class="row">
		<div class="panel panel-default">
	  		<div class="panel-heading padding-none" style="height:40px">
				<ol class="breadcrumb">
				  	<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<span th:text="#{info.mine}">我的信息</span></li>
				</ol>
		  	</div>
		  	<div class="panel-body panel-min-height-default">
		    	<div class="container-fluid" style="width: 100%">
		    		<div class="row">
			    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
		    		</div>
		    		<div style="margin-top: 50px"></div>
		    		<div class="row">
						<div class="col-md-4 text-right">
							<label th:text="#{username}">账号</label>
						</div>
						<div class="col-md-8 text-left">
			    			<input class="easyui-textbox input-large" th:value="*{username}" type="text" id="username" name="username" readonly="readonly"></input>
						</div>
					</div>
					<div style="margin-bottom: 20px"></div>
					<div class="row">
						<div class="col-md-4 text-right">
							<label th:text="#{surname}">姓名</label>
						</div>
						<div class="col-md-8 text-left">
			    			<input class="easyui-textbox input-large" th:value="*{name}" type="text" name="name" data-options="required:true,validType:['name','maxLength[32]']"></input>
						</div>
					</div>
					<div style="margin-bottom: 20px"></div>
					<div class="row">
						<div class="col-md-4 text-right">
							<label th:text="#{mobile}">手机</label>
						</div>
						<div class="col-md-8 text-left">
			    			<input class="easyui-textbox input-large" th:value="*{mobile}" type="text" name="mobile" data-options="required:false,validType:['mobile']"></input>
						</div>
					</div>
					<div style="margin-bottom: 20px"></div>
					<div style="text-align:center;padding:5px">
				    	<button type="button" id="button_save" class="btn btn-primary">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
						</button>
				    </div>
				    <div style="margin-bottom: 20px"></div>
		    	</div>
		    </div>
		</div>
	</div>
</div>
</form>
</html>