<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="layouts/default">
<head th:replace="fragments/header :: header(~{::title},~{})">
<title th:text="#{system.name}">Authority</title>
</head>
<body th:object="${bean}">
<th:block layout:fragment="content">
<form id="form_detail" class="form-horizontal m-t" method="post">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <ol class="breadcrumb navigation">
  				<li class="active" th:text="#{info.mine}">我的信息</li>
			</ol>
        </div>
        <div class="ibox-content">
            <div id="container" class="row">
            	<div class="form-group">
					<label class="col-xs-4 control-label" th:text="#{username}">账号</label>
   					<div class="col-xs-5">
       					<input type="text" name="username" class="form-control" th:value="*{username}" readonly="readonly" />
   					</div>
   				</div>
   				<div class="form-group">
   					<label class="col-xs-4 control-label" th:text="#{surname}">姓名</label>
   					<div class="col-xs-5">
       					<input type="surname" id="surname" name="name" class="form-control" th:value="*{name}" required />
   					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" th:text="#{mobile}">手机</label>
   					<div class="col-xs-5">
       					<input type="mobile" id="mobile" name="mobile" class="form-control" th:value="*{mobile}" required />
   					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" th:text="#{gender}">性别</label>
   					<div class="col-xs-5">
       					<select class="form-control m-b" id="gender" name="gender">
							<option th:each="gender : ${genderList}" th:selected="${gender.value eq #object.gender + ''}" th:text="${gender.label}" th:value="${gender.value}"></option>
	    				</select>
   					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" th:text="#{email}">Email</label>
   					<div class="col-xs-5">
       					<input type="email" id="email" name="email" class="form-control" th:value="*{email}" />
   					</div>
				</div>
				<div class="form-group text-center">
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
            </div>
        </div>
    </div>
</div>
</form>
</th:block>
<th:block layout:fragment="scripts">
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/system/mine.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initMinePage(error, message);
	});
/*]]>*/
</script>
</th:block>
</html>