<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/user.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initPasswordPage(error, message);
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<input type="hidden" th:value="${session.currentUser.id}" id="userId"></input>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;<span th:text="#{password.change}">修改密码</span></li>
			</ol>
	  	</div>
	  	<div class="panel-body panel-min-height-default">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div style="margin-top: 50px"></div>
	    		<div class="row">
					<div class="col-md-4 text-right">
						<label th:text="#{password.origion}">原始密码</label>
					</div>
					<div class="col-md-8 text-left">
						<input class="easyui-textbox input-large" type="password" name="oldPassword" value="" data-options="required:true"></input>
					</div>
				</div>
				<div style="margin-top: 20px"></div>
				<div class="row">
					<div class="col-md-4 text-right">
						<label th:text="#{password.new}">新密码</label>
					</div>
					<div class="col-md-8 text-left">
						<input class="easyui-textbox input-large" type="password" id="password" name="newPassword" value="" data-options="required:true,validType:['minLength[6]','maxLength[32]']"></input>
					</div>
				</div>
				<div style="margin-top: 20px"></div>
				<div class="row">
					<div class="col-md-4 text-right">
						<label th:text="#{repassword}">确认密码</label>
					</div>
					<div class="col-md-8 text-left">
						<input class="easyui-textbox input-large" type="password" name="repassword" value="" data-options="required:true,validType:['equals[\'#password\']']"></input>
					</div>
				</div>
	    		<div style="margin-top: 20px"></div>
	    		<div style="text-align:center;padding:5px">
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
			    <div style="margin-bottom: 20px"></div>
	    	</div>
	    </div>
	</div>
</div>
</div>
</form>
</html>