<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="/common/header :: header(#{system.name},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/ztree/metroStyle/metroStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/content.js?v=1.0.0}"></script>
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.dialog.js}"></script>
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/system/resource.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initAddPageExt(error, message);
	});
	/*]]>*/
</script>
</head>
<body class="gray-bg" th:object="${bean}">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <ol class="breadcrumb navigation">
  				<li><a href="/system/resource/list" th:text="#{resource.list}">资源列表</a></li>
  				<li class="active" th:text="#{resource.add}">资源添加</li>
			</ol>
        </div>
        <div class="ibox-content">
            <div id="container" class="row">
            <form id="form_detail" class="form-horizontal m-t" method="post">
            <input type="hidden" id="categoryId" name="categoryId" th:value="${category.id}" />
            	<div class="form-group">
					<label class="col-xs-2 control-label" th:text="#{name}">名称</label>
   					<div class="col-xs-3">
       					<input type="name" id="name" name="name" class="form-control" th:value="*{name}" maxLength="32" required />
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{url}">URL</label>
   					<div class="col-xs-3">
       					<input type="text" id="url" name="url" class="form-control" th:value="*{url}" />
   					</div>
				</div>
				<div class="form-group">
   					<label class="col-xs-2 control-label" th:text="#{type}">类型</label>
   					<div class="col-xs-3">
	   					<select class="form-control m-b" id="type" name="type">
   							<option th:each="type : ${typeList}" th:selected="${type.value eq #object.type + ''}" th:text="${type.label}" th:value="${type.value}"></option>
   						</select>
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{status}">状态</label>
   					<div class="col-xs-3">
       					<select class="form-control m-b" id="status" name="status">
							<option th:each="status : ${statusList}" th:selected="${status.value eq #object.status + ''}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
   					</div>
				</div>
				<div class="form-group">
   					<label class="col-xs-2 control-label" th:text="#{resource.category}">资源分类</label>
   					<div class="col-xs-3">
       					<input type="text" id="categoryName" name="categoryName" class="form-control icon-tree" th:value="${category.name}" required />
   					</div>
   					<label class="col-xs-2 control-label" th:text="#{remark}">备注</label>
   					<div class="col-xs-3">
       					<textarea id="remark" name="remark" th:value="*{remark}" class="form-control" rows="3"></textarea>
   					</div>
				</div>
				<div class="form-group text-center">
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
					&nbsp;&nbsp;
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
			    </div>
			</form>
            </div>
        </div>
    </div>
</div>
<!-- 资源分类树弹出框 -->
<div th:replace="/common/tree :: dialog_tree"></div>
</body>
</html>