<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/resource.js}"></script>
<script type="text/javascript" th:src="@{/js/system/tree.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initAddPageExt(error, message);
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<input type="hidden" th:value="${session.currentUser.username}" name="createUser"></input>
<input type="hidden" th:value="${session.currentUser.username}" name="updateUser"></input>
<input type="hidden" th:value="${category.id}" name="categoryId"></input>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li><a href="/system/resource/list"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span th:text="#{resource.manage}">资源管理</span></a></li>
			  	<li class="active" th:text="#{resource.add}">新增资源</li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div style="margin-top: 20px"></div>
		    	<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{name}">名称</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.name}" type="text" name="name" data-options="required:true,validType:['name','maxLength[32]']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{type}">类型</label>
					</div>
					<div class="col-md-4 text-left">
						<select class="easyui-combobox" data-options="editable:false" name="type" style="height:25px;width:200px">
							<option th:each="type : ${typeList}" th:text="${type.label}" th:value="${type.value}"></option>
						</select>
					</div>
				</div>
				<div style="margin-top: 20px"></div>
		    	<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{url}">URL</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.url}" type="text" name="url" data-options="required:true,validType:['maxLength[500]']"></input>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{resource.category}">资源分类</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${category.name}" type="text" data-options="required:true,iconCls:'icon-filter'" id="categoryName" name="categoryName" readonly="readonly"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div class="row">
					<div class="col-md-2 text-right">
						<label th:text="#{status}">状态</label>
					</div>
					<div class="col-md-4 text-left">
		    			<select class="easyui-combobox select-default" th:value="${bean.status}"  data-options="editable:false" name="status">
							<option th:each="status : ${statusList}" th:text="${status.label}" th:value="${status.value}"></option>
	    				</select>
					</div>
					<div class="col-md-2 text-right">
						<label th:text="#{remark}">备注</label>
					</div>
					<div class="col-md-4 text-left">
		    			<input class="easyui-textbox input-default" th:value="${bean.remark}" type="text" name="remark" data-options="multiline:true"></input>
					</div>
				</div>
				<div style="margin-bottom: 20px"></div>
				<div style="text-align:center;padding:5px">
			    	<button type="button" id="button_save" class="btn btn-primary">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{save}">保存</span>
					</button>
					<button type="button" id="button_back" class="btn btn-default">
						<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
					</button>
			    </div>
			    <div style="margin-bottom: 20px"></div>
		    </div>
    	</div>
    </div>
</div>
</div>
</form>
<!-- 资源分类树 -->
<div th:replace="/system/resource/tree :: tree_resource_category"></div>
</body>
</html>