<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/resource.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initResourceCategoryTree();
	});
/*]]>*/
</script>
</head>
<body>
<form id="form_default" method="post">
<input type="hidden" th:value="${session.currentUser.username}" name="createUser"></input>
<input type="hidden" th:value="${session.currentUser.username}" name="updateUser"></input>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span th:text="#{resource.manage}">资源管理</span></li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
	    		</div>
	    		<div class="row">
					<div class="col-md-2 text-right">
						<div class="easyui-panel" style="padding:5px">
							<ul class="easyui-tree">
								<li>
									<span th:text="#{resource.category}">资源分类</span>
									<ul>
										<li data-options="state:'closed'">
											<span>Photos</span>
											<ul>
												<li>
													<span>Friend</span>
												</li>
												<li>
													<span>Wife</span>
												</li>
												<li>
													<span>Company</span>
												</li>
											</ul>
										</li>
										<li>
											<span>Program Files</span>
											<ul>
												<li>Intel</li>
												<li>Java</li>
												<li>Microsoft Office</li>
												<li>Games</li>
											</ul>
										</li>
										<li>index.html</li>
										<li>about.html</li>
										<li>welcome.html</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 text-left">
		    			列表
					</div>
				</div>
		    </div>
    	</div>
    </div>
</div>
</div>
</form>
</body>
</html>