<!DOCTYPE html>
<html>
<head>
<title th:text="#{system.name}">认证与授权管理系统</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="/common/header :: header(~{::title},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/system/default.css}" />
<script type="text/javascript" th:src="@{/js/system/resource.js}"></script>
<script type="text/javascript" th:src="@{/js/crud.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	var error = /*[[${error}]]*/ null;
	var message = /*[[${message}]]*/ null;
	$(function() {
		initResourceListPage();
	});
/*]]>*/
</script>
</head>
<body>
<div class="container-fluid">
<div class="row">
	<div class="panel panel-default">
  		<div class="panel-heading padding-none" style="height:40px">
			<ol class="breadcrumb">
			  	<li class="active"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span th:text="#{resource.manage}">资源管理</span></li>
			</ol>
	  	</div>
	  	<div class="panel-body">
	    	<div class="container-fluid" style="width: 100%">
	    		<div class="row">
		    		<div id="tips" class="alert" style="display:none;margin-bottom:0"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;<span></span></div>
					<div class="col-md-2 padding-none">
						<ul id="tree_category" class="easyui-tree"></ul>
					</div>
					<div class="col-md-10 padding-none">
		    			<table id="datagrid" style="width:100%;height:auto">
							<thead>
								<tr>
									<th data-options="field:'_operate',width:15,align:'center',formatter:operateBtnHtml">操作</th>
									<th th:text="#{name}" data-options="field:'name',width:15">名称</th>
									<th th:text="#{url}" data-options="field:'url',width:20">名称</th>
									<th th:text="#{type}" data-options="field:'typeText',align:'center',width:10">类型</th>
									<th th:text="#{status}" data-options="field:'statusText',align:'center',width:10">状态</th>
									<th th:text="#{create.date}" data-options="field:'createDateText',align:'center',width:15">创建日期</th>
									<th th:text="#{create.user}" data-options="field:'createUser',align:'center',width:10">创建人</th>
									<th th:text="#{update.date}" data-options="field:'updateDateText',align:'center',width:15">更新日期</th>
									<th th:text="#{update.user}" data-options="field:'updateUser',align:'center',width:10">更新人</th>
								</tr>
							</thead>
						</table>
						<!-- 查询条件 -->
						<div id="search_tools" style="padding:0 25px;">
							<form action="" method="post" id="form_search">
							<div class="conditions">
								<input type="hidden" id="categoryId" name="categoryId" th:value="${categoryId}"></input>
								<input type="hidden" id="id" name="id"></input>
								<label th:text="#{name}">名称</label>
								<input name="name" class="easyui-textbox" style="width:150px;height:25px;line-height:25px">
								<label th:text="#{type}">类型</label>
								<select class="easyui-combobox" data-options="editable:false" name="type" style="height:25px;width:200px">
									<option value="" selected>全部</option>
									<option th:each="type : ${typeList}" th:text="${type.label}" th:value="${type.value}"></option>
								</select>
							    <a id="button_search" th:text="#{search}" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" data-options="selected:true">查询</a>
							    <a id="button_reset" th:text="#{reset}" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
						        <a id="button_add" th:text="#{add}" href="javascript:void(0)" class="easyui-linkbutton" data-options="selected:true">新增</a>
							</div>
							</form>
						</div>
					</div>
				</div>
		    </div>
    	</div>
    </div>
</div>
</div>
</body>
</html>