<!DOCTYPE html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/header :: header(#{system.name},~{::link})" />
<link rel="stylesheet" type="text/css" th:href="@{/css/plugins/ztree/metroStyle/metroStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
<!-- 自定义js -->
<script type="text/javascript" th:src="@{/js/content.js?v=1.0.0}"></script>
<script type="text/javascript" th:src="@{/js/curd.js}"></script>
<script type="text/javascript" th:src="@{/js/plugins/ztree/jquery.ztree.all.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.contextMenu.js}"></script>
<script type="text/javascript" th:src="@{/js/system/resource.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
	$(function() {
		var error = /*[[${error}]]*/ null;
		var message = /*[[${message}]]*/ null;
		initListPageExt(error, message);
	});
	/*]]>*/
</script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInLeft">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
            <ol class="breadcrumb navigation">
  				<li class="active" th:text="#{resource.list}">资源列表</li>
			</ol>
        </div>
        <div class="ibox-content">
        	<div class="row">
        		<div class="col-xs-2 page-height-default">
        			<div id="ztree_category" class="ztree"></div>
        		</div>
        		<div class="col-xs-10">
        			<div id="container" class="row">
		           		<form id="form_search" role="form" class="form-inline">
		           		<input type="hidden" id="selectedCategoryId" name="categoryId" th:value="${categoryId}" />
		           		<input type="hidden" id="id" name="id" />
		           		<input type="text" style="display:none" /><!-- 解决只有一个文本框回车自动提交问题 -->
		           			<div class="col-xs-10 padding-none">
		                    	<div class="input-group">
			                        <input type="text" th:placeholder="#{placeholder.name}" name="name" class="form-control">
		                		</div>
		                		<div class="input-group">
									<select class="form-control m-b" name="status">
		                				<option value="" selected th:text="#{type.all}">全部类型</option>
										<option th:each="type : ${typeList}" th:text="${type.label}" th:value="${type.value}"></option>
									</select>
		                		</div>
		           			</div>
		           			<div class="col-xs-2 text-right padding-none">
			                    <button type="button" id="btn_search" class="btn btn-outline btn-primary" th:text="#{search}">查询</button>
			                    <button type="button" id="btn_reset" class="btn btn-outline btn-default" th:text="#{reset}">重置</button>
		           			</div>
						</form>
						<div id="toolbar" class="btn-group hidden-xs" role="group">
							<button id="button_add" type="button" class="btn btn-outline btn-primary">
						 		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<span th:text="#{add}">添加</span>
						 	</button>
						</div>
		                <table id="table_list" data-row-style="rowStyle">
		                    <thead>
		                        <tr>
		                        	<th th:text="#{operation}" data-field="operation" data-align="center" data-formatter="operationFormatter">操作</th>
									<th th:text="#{name}" data-field="name" data-align="center">名称</th>
									<th th:text="#{url}" data-field="url" data-align="left">地址</th>
									<th th:text="#{type}" data-field="typeText" data-align="center">类型</th>
									<th th:text="#{status}" data-field="statusText" data-align="center">状态</th>
									<th th:text="#{create.date}" data-field="createDate" data-align="center">创建日期</th>
									<th th:text="#{create.user}" data-field="createUser" data-align="center">创建人</th>
									<th th:text="#{update.date}" data-field="updateDate" data-align="center">更新日期</th>
									<th th:text="#{update.user}" data-field="updateUser" data-align="center">更新人</th>
		                        </tr>
		                    </thead>
						</table>
		            </div>
        		</div>
        	</div>
        </div>
	</div>
</div>
<!-- 资源分类树右键菜单 -->
<ul id="contextMenu" class="dropdown-menu">
    <li><a id="category_add" href="javascript:void(0)" th:text="#{category.add}"><i class="fa fa-500px"></i>&nbsp;添加分类</a></li>
    <li><a id="category_edit" href="javascript:void(0)" th:text="#{category.edit}">编辑分类</a></li>
    <li role="separator" class="divider"></li>
    <li><a id="category_delete" href="javascript:void(0)" th:text="#{category.delete}">删除分类</a></li>
</ul>
<!-- 资源分类表单弹出框 -->
<div th:replace="system/resource/category :: dialog_category"></div>
</body> 
</html>