<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 资源分类树 -->
<div th:fragment="tree_resource_category" id="_dialog_resource_category_tree" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" th:text="#{resource.category}">资源分类</h4>
      		</div>
      		<div class="modal-body">
        		<div class="container-fluid" style="width: 100%">
		    		<ul id="_tree_resource_category" class="easyui-tree"></ul>
			    </div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" id="_button_resource_category_tree_cancel" class="btn btn-default">
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<span th:text="#{cancel}">取消</span>
				</button>
        		<button type="button" id="_button_resource_category_tree_select" class="btn btn-primary">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<span th:text="#{select}">选择</span>
				</button>
      		</div>
    	</div>
  	</div>
</div>

</html>